/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@media (max-width: 768px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: #540B51;
    }

    .logo {
        height: 30px;
    }

    .menu {
        visibility: hidden;
    }

    button {
        background: none;
        border: none;
        height: 100%;
    }
    
    h1 {
        margin: 0;
        color: white;
        font-size: 45px;
        width: 100%;
        text-align: center;
    }

    header {
        background-color: #540B51;
        padding:  0 5% 0 5%;
    }

    .email {
        background-color: white;
        text-transform: uppercase;
        
    }

}

@media (min-width: 1440px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: #540B51;
    
    }
    
    .logo {
        height: 30px;
    }
    
    .flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    nav ul {
        margin: 0;
        display: flex;
        justify-content: space-around;
        list-style: none;
        color: white;
    }
    
    header {
        background-color: #540B51;
        margin: 0;
        padding: 10%;
    }
    
    h1 {
        margin: 0;
        color: white;
        font-size: 100px;
        width: 60%;
    }
    
    .heroimg {
        width: 100%;
    }
}
